body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  background:#1F1F3D;
  color:#E9E9F3;
  font-weight: bold;
  font-size: 1em;
  margin: 10px;
}

h2 {
  background:#1F1F3D;
  color:#BFBFDD;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: .65em;
  margin: 10px;
}

aside {
  background:#1F1F3D;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;
}

.create-idea-form {
  display: flex;
  padding: 30px 0 30px 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #A9AAD2;
  height: 310px;
  width: 100%;
}

.ideabox {
  background-color: #EAEAF4;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.idea-card {
  border: solid blue 2px;
  background-color: #FFFFFF;
  margin: 10%;
  width: 218px;
  height: 253px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.idea-card-header {
  /* border: solid green 2px; */
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

.search-icon,
.filled-star,
.delete,
.empty-star {
  width: 25px;
  height: 25px;
}

.unsaved-star,
/* .saved-star, */
.img-button,
.comment-button {
  background-color: transparent;
  border-style: none;
}

.idea-card-body {
  /* border: solid yellow 3px; */
  color: #1F1F3D;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 3%;
  overflow: scroll;
}

.idea-card-footer {
  /* border: solid red 2px; */
  color: #E9E9F3;
  background-color: #5356A4;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-bottom: solid #353567 2px;
}

.sidebar-subtitle {
  background:#1F1F3D;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: solid #353567 2px;
  width: 100%;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.sidebar-filler {
  background:#1F1F3D;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.show-starred-btn {
  background:#5356A4;
  color:#E9E9F3;
  border-style: none;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 8px;
  border-radius: 1px;
  width: 88%;
}

.title-box {
  font-size: 8pt;
  height: 50px;
  width: 350px;
  font-weight: 700;
}

.form-title {
  border-radius: 2px;
  box-sizing: border-box;
  padding: 3px;
  border: 2px solid #6265AC;
  width: 100%;
  height: 55%;
}

.form-body {
  border-radius: 2px;
  padding: 3px;
  border: 2px solid #6265AC;
  width:  100%;
  height: 65px;
  box-sizing: border-box;
}

.body-box {
  font-size: 8pt;
  box-sizing: border-box;
  height: 85px;
  width: 350px;
  font-weight: 700;
}

.btn-box {
  height: 50px;
  width: 350px;
  box-sizing: border-box;
}

.disabled-save-btn {
  cursor: not-allowed;
  color: white;
  font-size: 14pt;
  border-radius: 3pt;
  background-color: gray;
  width: 100%;
  height: 80%;
  border-style: none;
}

.save-btn {
  color: white;
  font-size: 14pt;
  border-radius: 3pt;
  background-color: #353567;
  width: 100%;
  height: 80%;
  border-style: none;
  transition: all 0.5s ease
}

.save-btn:hover,
.save-btn:focus {
  filter: brightness(175%);
  /* cursor: pointer; */

}

.disable-button{
  color: white;
  font-size: 14pt;
  border-radius: 3pt;
  border-style: none;
  background-color: gray;
  width: 100%;
  height: 80%;
}

.search-box {
  width: 345px;
  display: flex;
  justify-content:center;
  border: 2px solid #353567;
  border-radius: 2px;
}

.search-icon {
  background-color: #353567;
  padding: 8px;
}

.search-field {
  border-radius: 0;
  border-style: none;
  flex: 1;
}

.hidden {
  display: none;
}
